github "Alamofire/Alamofire"
github "kasketis/netfox"
github "onevcat/Kingfisher"
github "ReactiveCocoa/ReactiveSwift"
github "Moya/Moya"
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "Quick/Nimble"
github "eggswift/pull-to-refresh"
github "Quick/Quick"
github "evgenyneu/keychain-swift"